@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter;
    --width: 4px;
    --len: 16px;
    --color: #252525;
}


.colon {
    position: relative;
    margin: calc(var(--width) + 1vmin);
}

.colon::before,
.colon::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: var(--width);
    height: var(--width);
    background: var(--color);
}

.colon::before {
    top: calc(var(--len));
}

.colon::after {
    bottom: calc(var(--len));
}


.digit {
    position: relative;
    width: var(--len);
    margin: calc(var(--len) * 1.5) calc(var(--len) / 2) calc(var(--len) * 1.7);
}

.stick {
    --half-width: calc(var(--width) / 2);
    --origin-left: calc(0vmin - var(--half-width));
    --origin-right: calc(var(--len) + var(--half-width));
    position: absolute;
    width: var(--len);
    height: var(--width);
    background: var(--color);
    border-radius: 11% / 15%;
    /* transition: transform 0.4s; */
}

.stick::before,
.stick::after {
    content: '';
    position: absolute;
    top: 0;
    border: var(--half-width) solid transparent;
}

.stick::before {
    right: 98%;
    border-right: var(--half-width) solid var(--color);
}

.stick::after {
    left: 98%;
    border-left: var(--half-width) solid var(--color);
}

.stick.one {
    transform-origin: var(--origin-right) 50%;
    transform: rotate(90deg);
}

.stick.two {
    transform-origin: var(--origin-right) 50%;
    transform: rotate(270deg);
}

.stick.three {
    transform-origin: var(--origin-left) 50%;
    transform: rotate(90deg);
}

.stick.four {
    transform-origin: var(--origin-left) 50%;
    transform: rotate(270deg);
}

.stick.five {
    transform-origin: var(--origin-right) 50%;
    transform: rotate(270deg);
}

.stick.six {
    transform-origin: var(--origin-right) 50%;
    transform: rotate(0deg);
}

.stick.seven {
    transform-origin: var(--origin-right) 50%;
    transform: rotate(90deg);
}

.timer-bottom {
    width: 592px;
    border-radius: 0px 0px 26px 26px;
    background: var(--ffffff, rgba(255, 255, 255, 0.90));
    /* media control bottom */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    padding-left: 30px;
    padding-right: 30px;
}

.timer-upper {
    width: 592px;
    border-radius: 26px 26px 0px 0px;
    background: var(--ffffff, rgba(255, 255, 255, 0.90));
}

.toolbar-fullscreen {
    width: 230px;
    border-radius: 26px 26px 0px 0px;
    background: var(--ffffff, rgba(255, 255, 255, 0.90));

    /* media control bottom */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    height: 52px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
}

.toolbar {
    border-radius: 0px 0px 26px 26px;
    background: var(--ffffff, rgba(255, 255, 255, 0.90));

    /* media control bottom */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    height: 52px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    /* gap: 12px; */
}